/TerraMours/TerraMours/*.user
*.vsidx
TerraMours/.vs/TerraMours/v17/.suo
*.v2
/TerraMours/.vs
/TerraMours/TerraMours/appsettings.json
/TerraMours/.vs/TerraMours/v17/.suo
/TerraMours/TerraMoursTests
/TerraMours/TerraMours/Properties
TerraMours/.idea/.idea.TerraMours_Gpt/.idea/indexLayout.xml
TerraMours/.idea/.idea.TerraMours_Gpt/.idea/.name
TerraMours/.idea/.idea.TerraMours_Gpt/.idea/encodings.xml
TerraMours/.idea/.idea.TerraMours_Gpt/.idea/vcs.xml
/TerraMours_Gpt_Api/bin
/TerraMours_Gpt_Api/obj
/TerraMours_Gpt_Api/TerraMours_Gpt_Api.csproj.user
/TerraMours_Gpt_Api/*.user
*.user
.vs/TerraMours_Gpt/v17/.suo
